.summary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 2px 4px 10px 1px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(223, 223, 223, 0.75);
    -moz-box-shadow: 2px 4px 10px 1px rgba(223, 223, 223, 0.75);
    height: 420px;
    background-color: white;

    .top{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .title{ font-size: 15px; color: gray ; font-weight: 500;}
        .icon { color: gray;}
        border-bottom: 1px solid rgba(128, 128, 128, 0.185);
        padding-bottom: 5px;
    }


    .middle{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .summary-chart{
            width: 150px;
            height: 150px;
            margin: 15px 0px ;
        }

        p{ color: gray; text-align: center}

        h2{color: rgb(105, 202, 105); font-weight: 500;}

        

        
    }


    .bottom{
        margin-top: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.185);
        width: 90%;
       
        
        .ptransactions{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            

            .target{
                display: flex;
                align-items: center;
                flex-direction: column;
                
                margin-top: 5px;

                p{ font-size: 14px;}
                .value{ font-size: 16px;  font-weight: 600; margin-top: 3px;  }

                & .positive{
                    color: rgb(26, 170, 26);
                }

                & .negative{
                    color: rgb(236, 75, 75)
                }
            }
        }
    }
}