.App{
    display: flex;
    transition: all 0.6s ease-in-out;

    &.Dark{
        background-color: #03161f ;

        .navbar,.sidebar {
            background-color: #031c27 ;
            color: rgb(218, 218, 218);
            border-color:rgba(218, 218, 218, 0.336); ;
            input{
            color: whitesmoke;
            }
        }

        .widget,.summary-container,.Chart-container,.OrdersTable,.DataTable,.Singleleft,.new-top,
        .new-bottom{
            background-color: #031c27 ;
            color: rgb(218, 218, 218);
            box-shadow: 2px 4px 10px 1px #182225 ;
            -webkit-box-shadow: 2px 4px 10px 1px #182225;
            -moz-box-shadow: 2px 4px 10px 1px #182225;
            border: 1px solid rgba(177, 176, 176, 0.212);
            .title {
                color: rgb(217, 216, 216);
            }

            input{
                background-color: transparent;
                border-bottom: 1px solid rgb(215, 215, 215);
                color: rgb(218, 218, 218);  
            }
                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color: whitesmoke !important;
                }


            .Addnew{
                background-color: #031c2713;
                color: rgb(151, 214, 151);
                border-color: rgb(151, 214, 151);
            }
              .OrderGrid,.DataGrid{
                color: rgb(218, 218, 218);
                .viewButton,.deleteButton{
                    color: rgb(218, 218, 218);
                    border-color: rgb(199, 198, 198);
                    background-color: #18222518;

                }
            }
        }   
    }

    &.Light{
        background-color: rgb(239, 238, 238);
    }


   
}

